@model List<Book>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Книги</h2>
<div class="container-xxl">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-5">
        @if (@Model.Count == 0)
        {
            <h3 class="text-center text-danger"> Список книг пуст</h3>
        }
        else
        {
            @foreach (var book in @Model)
            {
                <div class="col mb-4">
                    <div class="card h-100 text-start px-1 pt-1 border-0 bg-light ">
                        <div class="my-auto mx-auto w-100">
                            <img src="@book.ImagePath" alt="person3-photo" class="w-100 img-fluid">
                        </div>
                        <div class="mx-2 my-auto">
                            <p class="list-text mt-auto">@book.Name</p>
                            <p class="list-text mt-auto">Автор : @book.Autor</p>
                            <p class="list-text mt-auto">Статус : @book.Status</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent text-center px-0">
                             <a asp-controller="Book" asp-action="Book" asp-route-id="@book.Id" type="button" class="btn btn-warning rounded-0 px-3 py-2 ">Детали</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
